.container {
  /* min-height: 100px; */
  /* background-color: brown; */
}

.container-fluid {
  min-height: 100px;
  /* background-color: brown; */
}

/* header NAVBAR */

.ms_navbar {
  background-color: #2C3E50;
  color: #fff;
  min-height: 80px;
}

/* JUMBOTRON */

.ms_jumbo {
  background-color: #1ABC9C;
  margin-top: 80px;
  padding-bottom: 40px;
}

.ms_jumbo-pic {
  max-width: 200px;
}

.ms_header {
  font-size: 45px;
  color: #fff;
}

.ms_star-row {
  width: 100%;
  height: 5px;
  background-color: #fff;
}

.ms_line {
  min-width: 100px ;
}

.ms_b-row-jumbo {
  font-size: 18px;
  margin-top: 20px;
}

/* COLONNE IMG */

.ms_star-dark-row {
  width: 100%;
  height: 5px;
  background-color: #000;
}

.ms_about {
  background-color: #1ABC9C;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Wrap sezione ABOUT */

.ms_wrap-w {
  width: 70%;
}

.ms_contact {
  min-height: 400px;
  background-color: burlywood;
}

.ms_footer-nav {
  background-color: #3A546D;
  margin-top: 10px;
}
.ms_footer-copy {
  background-color: #2C3E50;
}